.key {
  color: #23a0db; }

.value__str, .value__date {
  color: #31f031; }

.value__num {
  color: #66c2ff; }

.value__bool {
  color: #ec4242; }

.value__null {
  color: #eec97d; }

.value__dflt {
  color: #ffffff; }

.value__url {
  color: #027bff; }

.value__obj, .value__arr {
  color: #ffffff; }

pre {
  display: block;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  padding: 10px 20px;
  margin: 15px;
  color: #FFF;
  background-color: #1E1E1E;
  border: 1px solid lightgray; }
