.key {
  color: #23a0db; }

.value__str {
  color: #31f031; }

.value__num {
  color: #66c2ff; }

.value__bool {
  color: #ec4242; }

.value__null {
  color: #eec97d; }

.value__dflt {
  color: #ffffff; }

pre {
  display: block;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  padding: 10px 20px;
  margin: 15px;
  color: #FFF;
  background-color: #1E1E1E;
  border: 1px solid lightgray; }
  pre__dark {
    background-color: #1E1E1E;
    border: 1px solid lightgray; }
  pre__light {
    background-color: #FFF;
    border: 1px solid lightgray; }
